[submodule "tsfpga"]
	path = tsfpga
	url = https://github.com/tsfpga/tsfpga.git
[submodule "hdl-modules"]
	path = hdl-modules
	url = https://github.com/hdl-modules/hdl-modules.git
[submodule "vunit"]
	path = vunit
	url = https://github.com/ru551n/vunit.git
